html {
  font-size: 62.5%;
}

body {
  margin: 0;
  
  background-color: #F6F6F6;
  
  text-align: center;
}

.container {
  padding-top: 350px;
  
  background: url(../img/texture.png) no-repeat top center;
  background-size: 50%;
}

.logo {
  margin-top: 55px;
  
  font-family: 'Roboto Condensed', sans-serif;
}

.logo h1 {
  margin: 0;
  
  font-size: 4.9rem;
  font-weight: 300;
  text-transform: uppercase;
}

.logo h1 strong {
  font-weight: 700;
}

.logo h2 {
  margin: 0;
  
  font-size: 2.65rem;
  font-weight: 300;
}

.links {
  margin: 35px 0 0;
  padding: 0;
  
  font: 300 1.8rem 'Roboto', sans-serif;
  
  list-style: none;
}

.links li {
  margin: 0 10px;
  display: inline-block;
}

.links a {
  text-decoration: none;
  color: #00B6E3;
}

.links a:hover {
  color: #02a4cc;
  text-decoration: underline;
}