html {
  font-size: 62.5%;
}

body {
  margin: 0;
  
  background-color: #F6F6F6;
  
  text-align: center;
}

.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 320px;
  margin-left: -160px;
  padding-top: 157px;

  background: url(../img/texture.png) no-repeat center bottom 205px;
  background-size: 100%;
}

.container .content {
  width: 100%;
  position: absolute;
  bottom: 15px;
}

.logo img {
  width: 50px;
}

@media screen and (min-height: 340px) {
  .container {
    background-position: top center;
  }
  
  .container .content {
    bottom: auto;
    top: 50%;
  }
}

@media screen and (min-width: 500px) and (min-height: 500px) {
  .container {
    width: 640px;
    margin-left: -320px;
    background-position: center bottom 269px;
  }
  
  .container .content {
    top: auto;
    bottom: 15px;
  }
  
  .logo img {
    width: 80px;
  }
}

@media screen and (min-width: 500px) and (min-height: 600px) {
  .container {
    background-position: top center;
  }
  
  .container .content {
    bottom: 30px
  }
}

@media screen and (min-width: 500px) and (min-height: 700px) { 
  .container .content {
    bottom: auto;
    top: 50%;
  }
}

.logo {  
  font-family: 'Roboto Condensed', sans-serif;
}

.logo h1 {
  margin: 0;
  
  font-size: 3.4rem;
  font-weight: 300;
  text-transform: uppercase;
}


.logo h1 strong {
  font-weight: 700;
}

.logo h2 {
  margin: 0;
  
  font-size: 1.7rem;
  font-weight: 300;
}

.links {
  margin: 15px 0 0;
  padding: 0;
  
  font: 300 1.3rem 'Roboto', sans-serif;
  
  list-style: none;
}

@media screen and (min-width: 640px) and (min-height: 500px) {
  .logo h1 {
    font-size: 4.9rem;
  }

  .logo h2 {
    font-size: 2.65rem;
  }

  .links {
    font-size: 1.8rem;
  }
}

.links li {
  margin: 0 10px;
  display: inline-block;
}

.links a {
  text-decoration: none;
  color: #00B6E3;
}

.links a:hover {
  color: #02a4cc;
  text-decoration: underline;
}

/* Animations */

.container {
  animation-duration: 2s;
  animation-delay: 0.5s;
}

.logo h2, 
.logo img {
  animation-duration: 1s;
  animation-delay: 1s;
}

.links {
  animation-duration: 1s;
  animation-delay: 2s;
}