.Timer {
    margin-top: 20px;

    font-family: var(--font-family-title);
    font-size: 3.5rem;

    letter-spacing: 1px
}

@media screen and (min-width: 640px) {
    .Timer {
        font-size: 5rem;
    }
}
